{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

{% for block in section.blocks %}
<h2>{{ block.settings.question }}</h2>
<p>{{ block.settings.answer }}</p>
{% endfor %}

{% schema %}
{
"name": "FAQ",
"tag": "section",
"class": "faq",
"blocks": [
{
"name": "Question",
"type": "questions",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "text",
"id": "answer",
"label": "Answer"
}
]
}
],
"presets": [
{
"name": "FAQ Section",
"category": "FAQ"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}